In [135]:
import numpy as np
import pandas as pd

#### Data Loading

In [137]:
df=pd.read_csv("Movies.csv") ## this need to change for everyone
df.head()

,movie_id,title,vote_average,vote_count,status,release_date,revenue,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,production_countries,spoken_languages
0,4520010,Inception,8.364,34495,Released,7/15/2010,825532764,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,4520011,Interstellar,8.417,32571,Released,11/5/2014,701729206,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,4520012,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,4520013,Avatar,7.573,29815,Released,12/15/2009,2923706026,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,4520014,The Avengers,7.710,29166,Released,4/25/2012,1518815515,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [138]:
df.shape #view starting dimensions

(1048575, 18)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   movie_id              1048575 non-null  int64
 1   title                 1048562 non-null  object
 2   vote_average          1048575 non-null  float64
 3   vote_count            1048575 non-null  int64
 4   status                1048575 non-null  object
 5   release_date          899153 non-null   object
 6   revenue               1048575 non-null  int64
 7   adult                 1048575 non-null  bool
 8   budget                1048575 non-null  int64
 9   imdb_id               576991 non-null   object
 10  original_language     1048575 non-null  object
 11  original_title        1048562 non-null  object
 12  overview              850351 non-null   object
 13  popularity            1048575 non-null  float64
 14  genres                646292 non-null   object
 15  production_companies  487889 non-null   object
 16  production_countries  602526 non-null   object
 17  spoken_languages      620135 non-null   object
dtypes: bool(1), float64(2), int64(4), object(11)
memory usage: 137.0+ MB

In [140]:
print(df.head()) #View congested dataset

   movie_id            title  vote_average  vote_count    status release_date  \
0   4520010        Inception         8.364       34495  Released    7/15/2010
1   4520011     Interstellar         8.417       32571  Released    11/5/2014
2   4520012  The Dark Knight         8.512       30619  Released    7/16/2008
3   4520013           Avatar         7.573       29815  Released   12/15/2009
4   4520014     The Avengers         7.710       29166  Released    4/25/2012

      revenue  adult     budget    imdb_id original_language   original_title  \
0   825532764  False  160000000  tt1375666                en        Inception
1   701729206  False  165000000  tt0816692                en     Interstellar
2  1004558444  False  185000000  tt0468569                en  The Dark Knight
3  2923706026  False  237000000  tt0499549                en           Avatar
4  1518815515  False  220000000  tt0848228                en     The Avengers

                                            overview  popularity  \
0  Cobb, a skilled thief who commits corporate es...      83.952
1  The adventures of a group of explorers who mak...     140.241
2  Batman raises the stakes in his war on crime. ...     130.643
3  In the 22nd century, a paraplegic Marine is di...      79.932
4  When an unexpected enemy emerges and threatens...      98.082

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                       production_countries  \
0  United Kingdom, United States of America
1  United Kingdom, United States of America
2  United Kingdom, United States of America
3  United States of America, United Kingdom
4                  United States of America

                     spoken_languages
0  English, French, Japanese, Swahili
1                             English
2                   English, Mandarin
3                    English, Spanish
4             English, Hindi, Russian

In [141]:
df_sorted = df.sort_values(by="budget", ascending = False) #Sort by top grossing (we would have done this but the spreadsheet has incorrect values for lower level movie)

In [142]:
df.head() #View current dataset sample

,movie_id,title,vote_average,vote_count,status,release_date,revenue,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,production_countries,spoken_languages
0,4520010,Inception,8.364,34495,Released,7/15/2010,825532764,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,4520011,Interstellar,8.417,32571,Released,11/5/2014,701729206,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,4520012,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,4520013,Avatar,7.573,29815,Released,12/15/2009,2923706026,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,4520014,The Avengers,7.710,29166,Released,4/25/2012,1518815515,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

#### Data Cleaning (Pandas)

In [144]:
df.drop('release_date', axis=1, inplace=True) #Deleting release date column
df.head()

,movie_id,title,vote_average,vote_count,status,revenue,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,production_countries,spoken_languages
0,4520010,Inception,8.364,34495,Released,825532764,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,4520011,Interstellar,8.417,32571,Released,701729206,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,4520012,The Dark Knight,8.512,30619,Released,1004558444,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,4520013,Avatar,7.573,29815,Released,2923706026,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,4520014,The Avengers,7.710,29166,Released,1518815515,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [145]:
df.drop(["movie_id", "status", "adult", "imdb_id", "original_language", "original_title", "production_companies", "production_countries", "spoken_languages"], axis=1, inplace=True) #Deleting other unnecessary columns

In [146]:
df.head() #Ensuring the change was made

,title,vote_average,vote_count,revenue,budget,overview,popularity,genres
0,Inception,8.364,34495,825532764,160000000,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure"
1,Interstellar,8.417,32571,701729206,165000000,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction"
2,The Dark Knight,8.512,30619,1004558444,185000000,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller"
3,Avatar,7.573,29815,2923706026,237000000,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction"
4,The Avengers,7.710,29166,1518815515,220000000,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure"

In [147]:
df.drop(df.index[15:10000000], inplace=True) #Removing excess rows

In [150]:
df.drop(["overview"], axis=1, inplace=True) #Deleting Overview column

In [160]:
df.head()

,title,vote_average,vote_count,revenue,budget,popularity,genres
0,Inception,8.364,34495,825532764,160000000,83.952,"Action, Science Fiction, Adventure"
1,Interstellar,8.417,32571,701729206,165000000,140.241,"Adventure, Drama, Science Fiction"
2,The Dark Knight,8.512,30619,1004558444,185000000,130.643,"Drama, Action, Crime, Thriller"
3,Avatar,7.573,29815,2923706026,237000000,79.932,"Action, Adventure, Fantasy, Science Fiction"
4,The Avengers,7.710,29166,1518815515,220000000,98.082,"Science Fiction, Action, Adventure"

In [162]:
df.shape

(15, 7)

#### Sorting and Ranking

In [165]:
df_sorted = df.sort_values(by="popularity", ascending = False)

In [167]:
df_sorted #Checking to make sure the change was made

,title,vote_average,vote_count,revenue,budget,popularity,genres
11,Harry Potter and the Philosopher's Stone,7.916,25379,976475550,125000000,185.482,"Adventure, Fantasy"
6,Avengers: Infinity War,8.255,27713,2052415039,300000000,154.340,"Adventure, Action, Science Fiction"
1,Interstellar,8.417,32571,701729206,165000000,140.241,"Adventure, Drama, Science Fiction"
2,The Dark Knight,8.512,30619,1004558444,185000000,130.643,"Drama, Action, Crime, Thriller"
14,The Shawshank Redemption,8.702,24649,28341469,25000000,122.610,"Drama, Crime"
4,The Avengers,7.710,29166,1518815515,220000000,98.082,"Science Fiction, Action, Adventure"
10,Forrest Gump,8.477,25409,677387716,55000000,92.693,"Comedy, Drama, Romance"
0,Inception,8.364,34495,825532764,160000000,83.952,"Action, Science Fiction, Adventure"
3,Avatar,7.573,29815,2923706026,237000000,79.932,"Action, Adventure, Fantasy, Science Fiction"
9,Pulp Fiction,8.488,25893,213900000,8500000,74.862,"Thriller, Crime"
12,Iron Man,7.640,24874,585174222,140000000,72.897,"Action, Science Fiction, Adventure"
5,Deadpool,7.606,28894,783100000,58000000,72.735,"Action, Adventure, Comedy"
7,Fight Club,8.438,27238,100853753,63000000,69.498,Drama
13,Django Unchained,8.171,24672,425368238,100000000,54.224,"Drama, Western"
8,Guardians of the Galaxy,7.906,26638,772776600,170000000,33.255,"Action, Science Fiction, Adventure"

In [169]:
print(df_sorted) #Viewing change in another view

                                       title  vote_average  vote_count  \
11  Harry Potter and the Philosopher's Stone         7.916       25379
6                     Avengers: Infinity War         8.255       27713
1                               Interstellar         8.417       32571
2                            The Dark Knight         8.512       30619
14                  The Shawshank Redemption         8.702       24649
4                               The Avengers         7.710       29166
10                              Forrest Gump         8.477       25409
0                                  Inception         8.364       34495
3                                     Avatar         7.573       29815
9                               Pulp Fiction         8.488       25893
12                                  Iron Man         7.640       24874
5                                   Deadpool         7.606       28894
7                                 Fight Club         8.438       27238
13                          Django Unchained         8.171       24672
8                    Guardians of the Galaxy         7.906       26638

       revenue     budget  popularity  \
11   976475550  125000000     185.482
6   2052415039  300000000     154.340
1    701729206  165000000     140.241
2   1004558444  185000000     130.643
14    28341469   25000000     122.610
4   1518815515  220000000      98.082
10   677387716   55000000      92.693
0    825532764  160000000      83.952
3   2923706026  237000000      79.932
9    213900000    8500000      74.862
12   585174222  140000000      72.897
5    783100000   58000000      72.735
7    100853753   63000000      69.498
13   425368238  100000000      54.224
8    772776600  170000000      33.255

                                         genres
11                           Adventure, Fantasy
6            Adventure, Action, Science Fiction
1             Adventure, Drama, Science Fiction
2                Drama, Action, Crime, Thriller
14                                 Drama, Crime
4            Science Fiction, Action, Adventure
10                       Comedy, Drama, Romance
0            Action, Science Fiction, Adventure
3   Action, Adventure, Fantasy, Science Fiction
9                               Thriller, Crime
12           Action, Science Fiction, Adventure
5                     Action, Adventure, Comedy
7                                         Drama
13                               Drama, Western
8            Action, Science Fiction, Adventure

#### Data Export

In [172]:
df_sorted.to_csv('Group4_Movies.csv', index=False) #Creating new, condensed csv file