In [54]:
import numpy as np
import pandas as pd

In [56]:
df=pd.read_csv("Movies.csv") ## this need to change for everyone
df.head()

,movie_id,title,vote_average,vote_count,status,release_date,revenue,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,production_countries,spoken_languages
0,4520010,Inception,8.364,34495,Released,7/15/2010,825532764,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,4520011,Interstellar,8.417,32571,Released,11/5/2014,701729206,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,4520012,The Dark Knight,8.512,30619,Released,7/16/2008,1004558444,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,4520013,Avatar,7.573,29815,Released,12/15/2009,2923706026,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,4520014,The Avengers,7.710,29166,Released,4/25/2012,1518815515,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [57]:
df.shape #view starting dimensions

(1048575, 18)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   movie_id              1048575 non-null  int64
 1   title                 1048562 non-null  object
 2   vote_average          1048575 non-null  float64
 3   vote_count            1048575 non-null  int64
 4   status                1048575 non-null  object
 5   release_date          899153 non-null   object
 6   revenue               1048575 non-null  int64
 7   adult                 1048575 non-null  bool
 8   budget                1048575 non-null  int64
 9   imdb_id               576991 non-null   object
 10  original_language     1048575 non-null  object
 11  original_title        1048562 non-null  object
 12  overview              850351 non-null   object
 13  popularity            1048575 non-null  float64
 14  genres                646292 non-null   object
 15  production_companies  487889 non-null   object
 16  production_countries  602526 non-null   object
 17  spoken_languages      620135 non-null   object
dtypes: bool(1), float64(2), int64(4), object(11)
memory usage: 137.0+ MB

In [59]:
print(df.head()) #View congested dataset

   movie_id            title  vote_average  vote_count    status release_date  \
0   4520010        Inception         8.364       34495  Released    7/15/2010
1   4520011     Interstellar         8.417       32571  Released    11/5/2014
2   4520012  The Dark Knight         8.512       30619  Released    7/16/2008
3   4520013           Avatar         7.573       29815  Released   12/15/2009
4   4520014     The Avengers         7.710       29166  Released    4/25/2012

      revenue  adult     budget    imdb_id original_language   original_title  \
0   825532764  False  160000000  tt1375666                en        Inception
1   701729206  False  165000000  tt0816692                en     Interstellar
2  1004558444  False  185000000  tt0468569                en  The Dark Knight
3  2923706026  False  237000000  tt0499549                en           Avatar
4  1518815515  False  220000000  tt0848228                en     The Avengers

                                            overview  popularity  \
0  Cobb, a skilled thief who commits corporate es...      83.952
1  The adventures of a group of explorers who mak...     140.241
2  Batman raises the stakes in his war on crime. ...     130.643
3  In the 22nd century, a paraplegic Marine is di...      79.932
4  When an unexpected enemy emerges and threatens...      98.082

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios

                       production_countries  \
0  United Kingdom, United States of America
1  United Kingdom, United States of America
2  United Kingdom, United States of America
3  United States of America, United Kingdom
4                  United States of America

                     spoken_languages
0  English, French, Japanese, Swahili
1                             English
2                   English, Mandarin
3                    English, Spanish
4             English, Hindi, Russian

In [60]:
df_sorted = df.sort_values(by="revenue", ascending = False) #Sort by top grossing

In [61]:
df_sorted.head() #View current dataset sample

,movie_id,title,vote_average,vote_count,status,release_date,revenue,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,production_countries,spoken_languages
682231,5202241,Adventures in Bora Bora,0.000,0,Released,8/23/2023,3000000000,False,800000000,NaN,en,Adventures in Bora Bora,"The adventures in Bora Bora, is an astonishing...",0.000,"Horror, War",NaN,NaN,English
262288,4782298,TikTok Rizz Party,10.000,1,Released,4/1/2024,3000000000,False,250000000,NaN,en,TikTok Rizz Party,"a band of brothers, torn apart by the constant...",0.000,"Drama, Comedy",Warner Bros.,United States of America,NaN
551944,5071954,Bee Movie,0.000,0,Released,NaN,2930000000,False,150000000,NaN,en,Bee Movie,"Fresh out of college, Barry the Bee finds the ...",1.400,NaN,NaN,NaN,NaN
3,4520013,Avatar,7.573,29815,Released,12/15/2009,2923706026,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
15,4520025,Avengers: Endgame,8.263,23857,Released,4/24/2019,2800000000,False,356000000,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,91.756,"Adventure, Science Fiction, Action",Marvel Studios,United States of America,"English, Japanese, Xhosa"

In [80]:
df_sorted.drop('release_date', axis=1, inplace=True) #Deleting release date column
df_sorted.head()

,movie_id,title,vote_average,vote_count,status,revenue,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres,production_companies,production_countries,spoken_languages
682231,5202241,Adventures in Bora Bora,0.000,0,Released,3000000000,False,800000000,NaN,en,Adventures in Bora Bora,"The adventures in Bora Bora, is an astonishing...",0.000,"Horror, War",NaN,NaN,English
262288,4782298,TikTok Rizz Party,10.000,1,Released,3000000000,False,250000000,NaN,en,TikTok Rizz Party,"a band of brothers, torn apart by the constant...",0.000,"Drama, Comedy",Warner Bros.,United States of America,NaN
551944,5071954,Bee Movie,0.000,0,Released,2930000000,False,150000000,NaN,en,Bee Movie,"Fresh out of college, Barry the Bee finds the ...",1.400,NaN,NaN,NaN,NaN
3,4520013,Avatar,7.573,29815,Released,2923706026,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
15,4520025,Avengers: Endgame,8.263,23857,Released,2800000000,False,356000000,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,91.756,"Adventure, Science Fiction, Action",Marvel Studios,United States of America,"English, Japanese, Xhosa"

In [82]:
df_sorted.drop(["movie_id", "status", "adult", "imdb_id", "original_language", "original_title", "production_companies", "production_countries", "spoken_languages"], axis=1, inplace=True) #Deleting other unnecessary columns

In [84]:
df_sorted.head()

,title,vote_average,vote_count,revenue,budget,overview,popularity,genres
682231,Adventures in Bora Bora,0.000,0,3000000000,800000000,"The adventures in Bora Bora, is an astonishing...",0.000,"Horror, War"
262288,TikTok Rizz Party,10.000,1,3000000000,250000000,"a band of brothers, torn apart by the constant...",0.000,"Drama, Comedy"
551944,Bee Movie,0.000,0,2930000000,150000000,"Fresh out of college, Barry the Bee finds the ...",1.400,NaN
3,Avatar,7.573,29815,2923706026,237000000,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction"
15,Avengers: Endgame,8.263,23857,2800000000,356000000,After the devastating events of Avengers: Infi...,91.756,"Adventure, Science Fiction, Action"